<div class="container" style="float: right;padding: 0;width:60%;border:gray solid 1px;margin-right: 4%;margin-top:3%">
  <div style="text-align: center;margin:0;width:100%;background-color: steelblue;color: white">
    <p style="padding: 8px">Hospital Registration</p>
  </div>
    <form style="padding: 5px" >
        <div class="form-row" >
          <div class="col-lg-4 col-md-4">
            <label for="inputState">Zone</label>
            <select id="inputState" class="form-control">
              <option selected>--select--</option>
              <option>West</option>
              <option>East</option>
              <option>North</option>
              <option>South</option>
            </select>
          </div>
          <div class="col-md-4 mb-3" >
              <label for="validationDefault02">Division</label>
              <!-- <input type="text" class="form-control" id="validationDefault02" placeholder="Middle name"  required> -->
            </div>
          <div class="col-md-4 mb-3" >
            <label for="validationDefault02">Station Code</label>
            <input type="text" class="form-control" id="validationDefault02" placeholder="Station"  required>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="validationDefault03">Hospital Name</label>
            <input type="text" class="form-control"  id="validationDefault03" placeholder="Hospital Name" required>
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationDefault04">Health Care Center Code </label>
            <input type="text" class="form-control "  id="validationDefault04" placeholder="HCC Code" required>
          </div>
          <div class="col-md-4 mb-3">
              <label for="validationDefault04">Department</label>
              <input type="text" class="form-control "  id="validationDefault04" placeholder="Department" required>
            </div>
        </div>
        <button class="btn btn-primary" type="submit" style="margin-left: 40%;margin-right:20% ">Submit form</button>
      </form>
</div>