<div class="container" style="float: right;padding: 0;width:60%;border:gray solid 1px;margin-right: 4%;margin-top:3%">
  <div style="text-align: center;margin:0;width:100%;background-color: steelblue;color: white">
    <p style="padding: 8px">Hospital Registration</p>
  </div>
    <form style="padding: 5px" >
      <div class="form-row" >
        <div class="col-lg-4 col-md-4">
          <label for="inputState">Zone</label>
          <select name="zone" [(ngModel)]="zone" id="inputState" (change)="onChangezone($event.target.value)" class="form-control">
            <option selected>--select--</option>
            <option *ngFor="let zone of zones" >{{zone.znCd}}-{{zone.znNm}}</option>
          </select>
        </div>
        <div class="col-md-4 col-md-4" >
            <label for="validationDefault02">Division</label>
            <select  name="division"    id="inputState2" class="form-control" (change)="onChangedivision($event.target.value)" >
              <option selected>--select--</option>
              <option *ngFor="let division of availableDivision">{{division.divCd}}-{{division.divNm}}</option>
            </select>
            <!-- <input type="text" class="form-control" id="validationDefault02" placeholder="Middle name"  required> -->
          </div>
        <div class="col-md-4 mb-3" >
          <label for="validationDefault02">Station Code</label>
          <select [(ngModel)]="stationCode"  name="station" class="form-control" (change)="onchangestation($event.target.value)" >
            <option selected>--select--</option>
            <option  *ngFor="let station of availableStation" >{{station.stationCode}}-{{station.stationName}}</option>
          </select>
        </div>
                                                                                                    
      </div>
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="validationDefault03">Hospital Name</label>
          <input  name="name" [(ngModel)]="name" type="text" class="form-control"  id="validationDefault03" placeholder="Hospital Name" required >
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationDefault04">Health Care Center Code </label>
          <select name="center" class="form-control" name="">
            <option selected>--select--</option>
            <option *ngFor="let center of healthcarecode">{{center.hospital_type}}-{{center.hospital_desc}}</option>
          </select>
        </div>
      </div>
      <button (click)="onsubmit()" class="btn btn-primary" type="submit" style="margin-left: 40%;margin-right:20% ">Submit form</button> </form>
</div>