.form-row{
    margin-bottom:3%;
}
span{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 90%;
    padding: 1%;
}
#box{
    -webkit-box-shadow: inset 2px 2px 27px 2px rgba(0,0,0,0.29);
-moz-box-shadow: inset 2px 2px 27px 2px rgba(0,0,0,0.29);
box-shadow: inset 2px 2px 27px 2px rgba(0,0,0,0.29);
}