<!--The content below is only a placeholder and can be replaced.-->

<div id="divtop">
  <div style="width: 100%;color: white;background-color: steelblue;display: block"><h4><i class="fas fa-arrow-alt-circle-left"></i>Services</h4></div>
  <ul >
      <li><a routerLink="/signin">Sign-In</a></li>
      <hr>
    <li><a routerLink="/medicalstaffreg">Medical Staff Registration</a></li>
    <hr>
    <li><a routerLink="/basic/basicinfo">Checkup Details</a></li>
    <hr>
    <li><a routerLink="/reports">Report</a></li>
    <hr>
    <li><a routerLink="/password">Change Password</a></li>
    <hr>
    <li><a routerLink="/hospitalreg">Register Hospital</a></li>
    <hr>
    <li><a routerLink="/opdreg">OPD Registration</a></li>
  </ul>
</div>


<router-outlet></router-outlet>
