<div class="container" style="float: right;padding: 0;width:60%;border:gray solid 1px;margin-right: 4%;margin-top:3%">
  <div style="text-align: center;margin:0;width:100%;background-color: steelblue;color: white">
    <p style="padding: 8px"><i class="fas fa-registered"></i> Employee Registration</p>
  </div>
  <!-- method="POST" action="http://localhost:4600" -->
    <form  style="padding: 5px" >
        <div class="form-row" >
          <div class="col-lg-6 col-md-6">
            <label for="inputState">Category</label>
            <select  (change)="onChange($event.target.value)" id="inputState" id="in1" class="form-control">
              <option selected>Choose...</option>
              <option *ngFor="let opts of categoryopt">{{opts.opt}}</option>
            </select>
          </div>
          <div class="col-md-6 mb-3" >
              <label for="validationDefault02">Name</label>
              <input name="NameEmp" type="text" class="form-control" id="validationDefault02" placeholder="Name"  required>
            </div>
        </div>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="validationDefault03">RLY MIC NO</label>
            <input type="text" name="MicEmp" class="form-control"  id="validationDefault03" placeholder="RLY MIC NO"  required>
          </div>
          <div class="col-md-6 mb-3">
            <label for="validationDefault04">Designation</label>
            <input type="text" class="form-control " name="desEmp" id="validationDefault04" placeholder="Designation" required>
          </div>
        </div>
    
        <div class="form-row">
            <div class="col-md-4 mb-3" style="width:0">
              <label for="validationDefault03">Department</label>
              <input type="text" class="form-control" id="validationDefault03" placeholder="Department" required>
            </div>
            <div class="col-lg-4 col-md-4">
                <label for="inputState">Zone</label>
                <select (change)="onChangezone($event.target.value)" id="inputState" class="form-control">
                  <option selected>Choose...</option>
                  <option *ngFor="let zone of zones">{{zone.znCd}} - {{zone.znNm}}</option>
                </select>
              </div>
            <div class="col-lg-4 col-md-4">
              <label for="inputState">Division</label>
              <select id="inputState" class="form-control">
                <option selected>Choose...</option>
                <option *ngFor="let division of availabledivisions">{{division.znCd}}-{{division.divCd}}-{{division.divNm}}</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="validationDefault03">Control Officer</label>
              <input type="text" class="form-control"  id="validationDefault03"  required placeholder="Control Officer">
            </div>
            <div class="col-md-6 mb-3">
              <label for="validationDefault04">Basic Pay</label>
              <input type="text" class="form-control "  id="validationDefault04" placeholder="Basic Pay" required>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="validationDefault03">Address1</label>
              <input type="text" class="form-control"  id="validationDefault03"  required placeholder="Address1">
            </div>
            <div class="col-md-6 mb-3">
              <label for="validationDefault04">Address2</label>
              <input type="text" class="form-control "  id="validationDefault04" placeholder="Address2" required>
            </div>
          </div>
          <div class="form-row">
            <div class="col-lg-6 col-md-6">
              <div class="label">Date of Birth</div>
              <div class="col-10">
                  <input class="form-control" type="date"  id="example-date-input">
                </div>
            </div>
            <div class="col-md-6 col-md-6">
              <label for="validationDefault04">Age</label>
              <input type="text" class="form-control "  id="validationDefault04" placeholder="Age" required>
            </div>
          </div>
          <div class="form-row">
            <div class="col-lg-6 col-md-6">
              <label for="inputState">Family Status</label>
              <select id="inputState" class="form-control">
                <option selected>Choose...</option>
                <option>Yes</option>
                <option>No</option> 
              </select>
            </div>
            <div class="col-md-6 col-md-6">
              <label for="validationDefault04">Phone No.</label>
              <input type="text" class="form-control "  id="validationDefault04" placeholder="Phone no." required>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="validationDefault03">Reciept Date</label>
              <input *ngIf="category=='OS'" type="text" class="form-control"  id="validationDefault03"  required placeholder="Control Officer">
              <input *ngIf="category!='OS'" type="text" class="form-control "  id="validationDefault04" readonly placeholder="Basic Pay" required>

            </div>
            <div class="col-md-6 mb-3">
              <label for="validationDefault04">Validity Period</label>
              <input *ngIf="category=='OS'" type="text" class="form-control "  id="validationDefault04" placeholder="Basic Pay" required>
              <input *ngIf="category!='OS'" type="text" class="form-control "  id="validationDefault04" readonly placeholder="Validity Period" required>
              
            </div>
            </div>
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label for="validationDefault03">Reciept No.</label>
                <input  type="text" class="form-control"  id="validationDefault03"  required placeholder="Reciept No.">
              </div>
              <div class="col-md-6 mb-3">
                <label for="validationDefault04">Amount Recieved</label>
                <input *ngIf="category=='OS'" type="text" class="form-control "  id="validationDefault04" placeholder="Basic Pay" required>
                <input *ngIf="category!='OS'" type="text" class="form-control "  id="validationDefault04" readonly placeholder="Amount Recieved" required>

              </div>
              </div>
        <button  (click)="makeid()" class="btn btn-primary" type="submit" style="margin-left: 40%;margin-right:20% ">Submit form</button>
      </form>
</div>