<div class="container" style="float: right;padding: 0;width:60%;border:gray solid 1px;margin-right: 4%;margin-top:3%">
  <div style="text-align: center;margin:0;width:100%;background-color: steelblue;color: white">
    <p style="padding: 8px">Medical Staff Registration</p>
  </div>
    <form style="padding: 5px" >
        <div class="form-row" >
          <div class="col-lg-6 col-md-6">
            <label for="inputState">Category</label>
            <select id="inputState" class="form-control">
              <option selected>Choose...</option>
              <option>NR</option>
              <option>OLD</option>
              <option>REIHS</option>
              <option>RS</option>
              <option>OS</option>
              <option>TEMP</option>
              <option>QR</option>
            </select>
          </div>
          <div class="col-md-6 mb-3" >
              <label for="validationDefault02">Name</label>
              <input type="text" class="form-control" id="validationDefault02" placeholder="Name"  required>
            </div>
        </div>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="validationDefault03">RY MIOHO</label>
            <input type="text" class="form-control"  id="validationDefault03"  required>
          </div>
          <div class="col-md-6 mb-3">
            <label for="validationDefault04">Designation</label>
            <input type="text" class="form-control "  id="validationDefault04" placeholder="Designation" required>
          </div>
        </div>
    
        <div class="form-row">
            <div class="col-md-6 mb-3" style="width:0">
              <label for="validationDefault03">Department</label>
              <input type="text" class="form-control" id="validationDefault03" placeholder="Department" required>
            </div>
            <div class="col-lg-6 col-md-6">
              <label for="inputState">Division</label>
              <select id="inputState" class="form-control">
                <option selected>Choose...</option>
                <option>Dl DELHI</option>
                <option>Dl DELHI</option>
                <option>Dl DELHI</option>
                <option>Dl DELHI</option>
                <option>Dl DELHI</option>
                <option>Dl DELHI</option>
                <option>Dl DELHI</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="validationDefault03">Control Officer</label>
              <input type="text" class="form-control"  id="validationDefault03"  required placeholder="Control Officer">
            </div>
            <div class="col-md-6 mb-3">
              <label for="validationDefault04">Basic Pay</label>
              <input type="text" class="form-control "  id="validationDefault04" placeholder="Basic Pay" required>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="validationDefault03">Address1</label>
              <input type="text" class="form-control"  id="validationDefault03"  required placeholder="Address1">
            </div>
            <div class="col-md-6 mb-3">
              <label for="validationDefault04">Address2</label>
              <input type="text" class="form-control "  id="validationDefault04" placeholder="Address2" required>
            </div>
          </div>
          <div class="form-row">
            <div class="col-lg-6 col-md-6">
              <div class="label">Date of Birth</div>
              <div class="col-10">
                  <input class="form-control" type="date"  id="example-date-input">
                </div>
            </div>
            <div class="col-md-6 col-md-6">
              <label for="validationDefault04">Age</label>
              <input type="text" class="form-control "  id="validationDefault04" placeholder="Age" required>
            </div>
          </div>
          <div class="form-row">
            <div class="col-lg-6 col-md-6">
              <label for="inputState">Family Status</label>
              <select id="inputState" class="form-control">
                <option selected>Choose...</option>
                <option>Yes</option>
                <option>No</option> 
              </select>
            </div>
            <div class="col-md-6 col-md-6">
              <label for="validationDefault04">Phone No.</label>
              <input type="text" class="form-control "  id="validationDefault04" placeholder="Phone no." required>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="validationDefault03">Control Officer</label>
              <input type="text" class="form-control"  id="validationDefault03"  required placeholder="Control Officer">
            </div>
            <div class="col-md-6 mb-3">
              <label for="validationDefault04">Basic Pay</label>
              <input type="text" class="form-control "  id="validationDefault04" placeholder="Basic Pay" required>
            </div>
            </div>
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label for="validationDefault03">Control Officer</label>
                <input type="text" class="form-control"  id="validationDefault03"  required placeholder="Control Officer">
              </div>
              <div class="col-md-6 mb-3">
                <label for="validationDefault04">Basic Pay</label>
                <input type="text" class="form-control "  id="validationDefault04" placeholder="Basic Pay" required>
              </div>
              </div>
        <button class="btn btn-primary" type="submit" style="margin-left: 40%;margin-right:20% ">Submit form</button>
      </form>
</div>