<div class="container" style="float: right;padding: 0;width:60%;border:gray solid 1px;margin-right: 4%;margin-top:3%">
  <div style="text-align: center;margin:0;width:100%;background-color: steelblue;color: white">
    <p style="padding: 8px">Medical Staff Registration</p>
  </div>
    <form style="padding: 5px" >
        <div class="form-row" >
          <div class="col-md-4 mb-3" >
            <label for="validationDefault01">First name</label>
            <input type="text"  class="form-control" id="validationDefault01" placeholder="First name"  required>
          </div>
          <div class="col-md-4 mb-3" >
              <label for="validationDefault02">Middle Name</label>
              <input type="text" class="form-control" id="validationDefault02" placeholder="Middle name"  required>
            </div>
          <div class="col-md-4 mb-3" >
            <label for="validationDefault02">Last Name</label>
            <input type="text" class="form-control" id="validationDefault02" placeholder="Last name"  required>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="validationDefault03">Health Care Center</label>
            <input type="text" class="form-control" readonly id="validationDefault03" value="Railway Hospital" required>
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationDefault04">Designation</label>
            <input type="text" class="form-control "  id="validationDefault04" placeholder="Designation" required>
          </div>
          <div class="col-md-4 mb-3">
              <label for="validationDefault04">Department</label>
              <input type="text" class="form-control "  id="validationDefault04" placeholder="Department" required>
            </div>
        </div>
    
        <div class="form-row">
            <div class="col-md-4 mb-3" style="width:0">
              <label for="validationDefault03">Station</label>
              <input type="text" class="form-control" id="validationDefault03" placeholder="Station" required>
            </div>
            <div class="col-md-4 mb-3">
              <label for="validationDefault04">Email Id</label>
              <input type="text" class="form-control "  id="validationDefault04" placeholder="Email id" required>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationDefault04">Mobile No.</label>
                <input type="text" class="form-control "  id="validationDefault04" placeholder="Mobile No" required>
              </div>
          </div>
          <div class="form-row">
              <div class="col-lg-4 col-md-3 mb-3">
                <label for="validationDefault04">Railway No.</label>
                <input type="text" class="form-control "  id="validationDefault04" placeholder="State" required>
              </div>
              <div class="col-lg-4 col-md-4">
                  <label for="inputState">Select Role</label>
                  <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option>Employee</option>
                    <option>Guard</option>
                    <option>Clerk</option>
                  </select>
                </div>
            </div>
        <button class="btn btn-primary" type="submit" style="margin-left: 40%;margin-right:20% ">Submit form</button>
      </form>
</div>